@import '../styles/colors';

.root {
  background-color: $background;
  width: 100%;
  min-height: 100vh;
}

.calc {
  max-width: 500px;
  margin: 0 auto;

  padding: 24px;
}

.grid {
  display: grid;
  height: 300px;
  gap: 5px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.current-entry {
  font-size: 64px;
  text-align: right;
}

.expr {
  height: 32px;
  font-size: 24px;
  text-align: right;
}
